/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Snackbar Styles */
.error-snackbar {
    background-color: #f44336 !important;
    color: white !important;
}

.success-snackbar {
    background-color: #4caf50 !important;
    color: white !important;
}

.info-snackbar {
    background-color: #2196f3 !important;
    color: white !important;
}